<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Fluffy Duffy Munchkin Cats</title>
</head>
<body>
    @RenderBody()

    <hr />
    <footer>
        <p>Created by: Lyuboslav Krastev</p>
        <p>
            Contact information: <a href="mailto:krastevl@gmail.com">
                KrastevL@gmail.com
            </a>.
        </p>
    </footer>
</body>

</html>
